@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2.5rem;
  }

  a {
    @apply text-indigo-600 hover:text-indigo-900;
  }
}

@layer components {
  .hyphens-auto {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .explainer ul {
    @apply list-disc list-inside;
  }

  .explainer summary {
    @apply cursor-pointer py-1 focus:text-indigo-600 outline-none;
  }

  .explainer p {
    @apply mt-2 mb-4;
  }

  .page-footer a {
    @apply text-gray-400 hover:text-gray-500;
  }

  /* Chrome, Safari, Edge, Opera */
  input.number-input-no-arrows::-webkit-outer-spin-button,
  input.number-input-no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input.number-input-no-arrows[type="number"] {
    -moz-appearance: textfield;
  }
}
